body {
	background-image: url(background.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
 	 background: linear-gradient(
      rgba(0, 147, 178, 0.75), 
      rgba(0, 147, 178, 0.75)
    ),
 	 url(background.jpg);
 	 background-size: 100%;
}

h1 {
	color: white;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	font-size: 30px;
	font-weight: 400;
	text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
	top: 10px;
	position: relative;
}

#title {
}

#scissors {
	height: 70px;
	width: 70px;
	padding-left: 50px;
	padding-right: 50px;
}

#scissors:hover {
    border-bottom: 3px dotted white;
    padding-bottom: 50px;
}

#rock:hover {
    border-bottom: 3px dotted white;
    padding-bottom: 50px;
}

#paper:hover {
    border-bottom: 3px dotted white;
    padding-bottom: 50px;
}


#rock {
	height: 70px;
	width: 70px;
	padding-left: 50px;
	padding-right: 50px;
}

#paper {
	height: 74px;
	width: 70px;
	padding-left: 50px;
	padding-right: 50px;
}

.category {
	position: relative;
	top: 100px;
	display: inline-block;
	padding:10px;
	width: 100%;
}

#credits {
	bottom: 20px;
	position: fixed;
	width: 100%;
}

header {
	height: 20px;
	background-color: #FF9927;
	width: 100%;
	position: fixed;
	height: 86px;
	top: 0px;
	left: 0px;
	border-bottom: #FF8519;
	border-bottom-style: solid;
	border-bottom-width: 10px;
}

p {
	font-size: 10.5;
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: 300;
	text-align: center;
/*		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	bottom: 10%;
}




h3 {
	text-align: center;
	color: white;
	font-family: 'Lato', sans-serif;	
	text-shadow: 2px 2px 5px #000000;
	font-size: 28px;
	font-weight: 300;
	top: 120px;
	position: absolute;
	margin-left: 38%;
	margin-right: 38%;
}

